page-complete {
  ion-segment {
    padding: 0px 5px 5px 5px;
  }
  ion-title {
    background-color: #DC1525;
  }
  ion-icon{
    color: white;
  }
  #titleText {
    color: white;
  }
  #navSegment {
    background-color: #DC1525;
  }
  .toolbar-background-md {
    background-color: #DC1525;
  }
}
