page-active {
  ion-segment {
    padding: 0px 5px 5px 5px;
  }
  ion-title {
    background-color: #DC1525;
  }
  ion-icon{
    color: white;
  }
  #titleText {
    color: white;
  }
  #navSegment {
    background-color: #DC1525;
  }
  .toolbar-background-md {
    background-color: #DC1525;
  }
  .labelText {
    float: left;
    width: 100px;
  }
  .labelIcon {
    float: right;
    width: 100px;
  }
  .card-ios {
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.3);
    height: 40px;
  }
  .card-md{
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.3);
    height: 40px;
  }
  .card-content-ios {
    margin-top: -10px;
  }
  .card-content-md {
    margin-top: -15px;
  }
}
