page-history {
  ion-segment {
    padding: 0px 5px 5px 5px;
  }
  ion-title {
    background-color: #DC1525;
    height: 200px;
  }
  ion-icon{
    color: white;
  }
  #titleText {
    color: white
  }
  ion-navbar {
    background-color: blue;
  }
  #navSegment {
    background-color: #DC1525;
  }
}